.expense-item {
  display: flex;
  justify-content: space-around;
  background-color: rgb(29, 168, 223);
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.4rem;
}
.e-price {
  background-color: rgb(45, 3, 85);
  padding: 0.4rem;
  border-radius: 0.3rem;
}
